Source: haproxy
Section: net
Priority: optional
Maintainer: Debian HAProxy Maintainers <wlallemand@irq6.net>
Standards-Version: 4.4.1
Build-Depends: debhelper-compat (= 11),
               libpcre2-dev,
               libssl-dev (>= 1.1.1),
               liblua5.3-dev,
               libsystemd-dev [linux-any],
               pkg-config,
               libssl-awslc-dev
Homepage: http://www.haproxy.org/

Package: haproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, lsb-base (>= 3.0-6), libssl-awslc
Pre-Depends: dpkg (>= 1.17.14), ${misc:Pre-Depends}
Description: fast and reliable load balancing reverse proxy
 HAProxy is a TCP/HTTP reverse proxy which is particularly suited for high
 availability environments. It features connection persistence through HTTP
 cookies, load balancing, header addition, modification, deletion both ways. It
 has request blocking capabilities and provides interface to display server
 status.
